@*Models are in partial views.*@

@section header {
@*@Scripts.Render("~/bundles/jquery")*@
}
  
@section Scripts {
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-12">

        <h2>Edit</h2>

        @*<div id="EditCustomerPartial">
            @Html.Action("EditCustomerPartial", new { id = Url.RequestContext.RouteData.Values["id"] })
        </div>*@

        <div id="SelectAddressTypePartial">
            @Html.Action("AddressTypePartial", new { id = Url.RequestContext.RouteData.Values["id"] })
        </div>
    </div>
</div>

<div id="CreateAddress"></div>

<div class="row">
<div class="form-group">
    <div class="col-md-offset-1 col-md-10">
        <hr />
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
</div>
 

