@*Models are in partial views.*@

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div id="EditCustomerPartial">
    @Html.Action("EditCustomerPartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="SelectAddressTypePartial">
    @Html.Action("AddressTypePartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="CreateAddress"></div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

